* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ece3ce;
}

body {
    background: #3a4d39;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: 5vh 95vh;
}

nav {
    height: 100%;
    background: #739072;
    align-items: center;
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

nav > button {
    letter-spacing: 2px;
    background: #4f6f52;
    border: none;
    height: 30px;
    width: 90px;
}

nav > button:hover {
    background: #3a4d39;
}

#content {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 2fr 1fr;
}

#content > img {
    grid-row: 1 / 3;
    height: 820px;
}

#content > h1 {
    text-align: center;
    font-size: 50px;
}

#content > p {
    font-size: 30px;
    padding: 0px 30px;
    text-align: center;
}
